@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background:  #7A98CB;
}
h1{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 54px;
  text-align: center; /* Centra el título */
  color: white;
}
.floating-form, .floating-form2 {
  flex-direction: column; /* Ajusta el diseño para que los elementos estén uno encima del otro */
  position: absolute;
  top: 50%;
  left: 50%; /* Para el formulario 1 */
  transform: translate(-50%,-50%);
  width: 600px;
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.floating-form h2, .floating-form2 h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center; /* Centra el título */
}

.floating-form label, .floating-form2 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.floating-form input[type="text"], .floating-form2 input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.floating-form button, .floating-form2 button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.floating-form button:hover, .floating-form2 button:hover {
  background-color: #45a049;
}

input {
  padding: 10px 20px;
  margin: 0 10px;
  outline: none;
  border: 1px solid #679b9b;
  border-radius: 6px;
  color: #679b9b;
}