<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Inventario</title>
    <link rel="stylesheet" href="/css/formFormularios.css">
</head>
<body>
    <div id="floatingForm" class="floating-form">
        <h2>Agregar Inventario</h2>
        <form th:action="@{/save_inventory}" th:object="${inventario}" method="post">
            <label for="id_inventario">Id inventario:</label>
            <input type="text" id="id_invenatrio" name="id_inventario" th:field="*{id_inventario}">
            <label for="descripcion">Descripcion:</label>
            <input type="text" id="descripcion" name="descripcion" th:field="*{descripcion}">
            <label for="cant">Cantidad:</label>
            <input type="number" id="cant" name="cant" th:field="*{cantidad}">
            <label for="id_producto">Producto ID:</label>
            <input type="text" id="id_producto" name="id_producto" th:field="*{producto_id_producto}">
            <br><br>
            <button type="submit">Guardar</button>
            <button type="button"> Volver</button>
        </form>
    </div>
</body> 
</html>