<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Compra</title>
    <link rel="stylesheet" href="formFormularios.css">
</head>
<body>
    <div id="floatingForm" class="floating-form">
        <h2>Agregar Compra</h2>
        <form>
                <label for="id_compra">Id Compra:</label>
                <input type="number" id="id_compra" name="id_compra">
                <label for="f_compra">FechaCompra:</label>
                <input type="date" id="f_compra" name="f_compra">
                <label for="f_llegada">FechaLLegada:</label>
                <input type="date" id="f_llegada" name="f_llegada">
                <label for="t_compra">Total Compra:</label>
                <input type="number" id="t_compra" name="t_compra">
                <label for="id_proveedor">Proveedor ID:</label>
                <input type="number" id="id_proveedor" name="id_proveedor">
            <br><br>
            <button type="submit">Guardar</button>
            <button type="submit">Volver</button>
        </form>
    </div>
</body> 
</html>