<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Venta</title>
    <link rel="stylesheet" href="formFormularios.css">
</head>
<body>
    <div id="floatingFormAct" class="floating-form">
        <h2>Actualizar Venta</h2>
        <form>
                <label for="id_venta">Id Venta:</label>
                <input type="text" id="id_venta" name="id_venta" class="input1">
                <label for="f_venta">Fecha Venta:</label>
                <input type="datetime" id="f_venta" name="f_venta" class="input1">
                <label for="totalizado">Totalizado:</label>
                <input type="number" id="totalizado" name="totalizado" class="input1">
                <label for="saldo">Saldo:</label>
                <input type="number" id="saldo" name="saldo" class="input1">
                <label for="id_cliente">Id Cliente:</label>
                <input type="number" id="id_cliente" name="id_cliente" class="input1">
                <label for="id_cliente">Status :</label>
                <input type="number" id="id_cliente" name="id_cliente" class="input1">
             <br><br>
            <button type="submit">Actualizar</button>
        </form>
    </div>
</body> 
</html>