<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Proveedor</title>
    <link rel="stylesheet" href="formFormularios.css">
</head>
<body>
    <div id="floatingForm" class="floating-form">
        <h2>Actualizar Proovedor</h2>
        <form>
            <label for="id_proveedor">Id Proveedor:</label>
            <input type="text" id="id_proveedor" name="id_proveedor">
            <label for="identificacion">Tipo de Identificacion:</label>
            <input type="text" id="identificacion" name="identificacion">
            <label for="r_social">Razon Social:</label>
            <input type="number" id="r_social" name="r_social">
            <label for="telefono">Telefono:</label>
            <input type="number" id="telefono" name="telefono">
            <label for="direccion">Direccion:</label>
            <input type="text" id="direccion" name="direccion">
            <label for="saldo">Saldo Pendiente:</label>
            <input type="text" id="saldo" name="saldo">
            <br><br>
            <button type="submit">Actualizar</button>
        </form>
    </div>

</body> 
</html>