<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Cliente</title>
    <link rel="stylesheet" href="formFormularios.css">
</head>
<body>
    <div id="floatingForm" class="floating-form">
        <h2>Actualizar Cliente</h2>
        <form th:action="@{/actualizarCliente}" th:object="${cliente}" method="post">
             <label for="id_cliente">Id Cliente:</label>
            <input type="number" th:field="*{id_cliente}" id="id_cliente" name="id_cliente">
            <label for="tipo_identificacion">Tipo Identificacion:</label>
            <input type="text" th:field="*{tipo_identificacion}" id="tipo_identificacion" name="tipo_identificacion">
            <label for="razon_social">Razon Social:</label>
            <input type="text" th:field="*{razon_social}" id="razon_social" name="razon_social">
            <label for="telefono">Telefono:</label>
            <input type="number" th:field="*{telefono}" id="telefono" name="telefono">
            <label for="direccion">Direccion:</label>
            <input type="text" th:field="*{direccion}" id="direccion" name="direccion">
            <label for="saldo_pendiente">Saldo Pendiente:</label>
            <input type="number" th:field="*{saldo_pendiente}" id="saldo_pendiente" name="saldo_pendiente">
            <label for="status">Status</label>
            <input type="number" th:field="*{status}" id="status" name="status">
            <br><br>
            <button type="submit">Actualizar</button>
        </form>
    </div>
</body> 
</html>