<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/css/formStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <button class="menu-toggle">
        <i class="fa-solid fa-bars"></i>
    </button>
  
    <nav class="menu">
        <ul>
            <li><a href="MenuRosita.html">Menu principal</a></li>
            <li><a href="formProducto.html">Productos</a></li>
            <li><a href="formProveedores.html">Proveedores</a></li>
            <li><a href="formInventario.html">Inventario</a></li>
            <li><a href="formCompras.html">Compras</a></li>
            <li><a href="formVentas.html">Ventas</a></li>
            <li><a href="">Reportes</a></li>
        </ul>
    </nav>
    <div class="arriba"></div>
    <div class="imagen">
        <img src="img/Portada.jpg">
      </div>
      <div class="logo">
        <h1>Usuario:Rosita</h1>
      </div>
      <div class="menu-principal">
        <h1>Proveedores</h1>
    </div>

    <div class="table">
        <div class="table_header">
            <p>Proveedores</p>
            <div>
                <input placeholder="Buscar">
                <a th:href="@{/insert_provider}"><button class="agregar">Agregar</button></a>
            </div>
        </div>
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>Id Proveedor</th>
                        <th>Tipo de identificacion</th>
                        <th>Razon Social</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Saldo Pendiente</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="proveedor : ${listaProveedor}">
                        <td><span th:text="${proveedor.id_proveedor}"></span></td>
                        <td><span th:text="${proveedor.tipo_identificacion}"></span></td>
                        <td><span th:text="${proveedor.razon_social}"></span></td>
                        <td><span th:text="${proveedor.telefono}"></span></td>
                        <td><span th:text="${proveedor.direccion}"></span></td>
                        <td><span th:text="${proveedor.saldo_pendiente}"></span></td>
						<td><span th:text="${proveedor.status}"></span></td>
                        <td> 
							<a th:href="@{/edit_provider/{id}(id=${proveedor.id_proveedor})}">
                            	<button class="actualizar" onclick="openFormAct()">
                                	<i class="fa-solid fa-pen-to-square"></i>
                            	</button>
                            </a>
                            
                            <button>
                                <a th:href="@{/delete_provider/{id}(id=${proveedor.id_proveedor})}" class="boton_eliminar"><i class="fa-solid fa-trash"></i></a>
                            </button>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body> 
</html>