<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="formStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <button class="menu-toggle">
        <i class="fa-solid fa-bars"></i>
    </button>
  
    <nav class="menu">
        <ul>
            <li><a href="MenuRosita.html">Menu principal</a></li>
            <li><a href="formProducto.html">Productos</a></li>
            <li><a href="formProveedores.html">Proveedores</a></li>
            <li><a href="formInventario.html">Inventario</a></li>
            <li><a href="formCompras.html">Compras</a></li>
            <li><a href="formVentas.html">Ventas</a></li>
            <li><a href="">Reportes</a></li>
        </ul>
    </nav>
    <div class="arriba"></div>
    <div class="imagen">
        <img src="img/Portada.jpg">
      </div>
      <div class="logo">
        <h1>Usuario:Rosita</h1>
      </div>
      <div class="menu-principal">
        <h1>Ventas</h1>
    </div>

    <div class="table">
        <div class="table_header">
            <p>Ventas</p>
            <div>
                <input placeholder="Buscar">
                <button class="agregar" onclick="openForm()">Agregar</button>
            </div>
        </div>
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>Id Ventas</th>
                        <th>Fecha Venta</th>
                        <th>Totalizado</th>
                        <th>Saldo</th>
                        <th>ID Cliente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="Va el DTO">
                        <td><span th:text="Llama la info">Id</span></td>
                        <td><span th:text="Llama la info">fecha venta</span></td>
                        <td><span th:text="Llama la info">Total</span></td>
                        <td><span th:text="Llama la info">Saldo</span></td>
                        <td><span th:text="Llama la info">Id cliente</span></td>
                        <td> 
                            <button class="actualizar" onclick="openFormAct()">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            
                            <button>
                                <a href="" class="boton_eliminar"><i class="fa-solid fa-trash"></i></a>
                            </button>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="floatingForm" class="floating-form">
        <h2>Agregar Venta</h2>
        <form>
            <label for="id_venta">Id Venta:</label>
            <input type="text" id="id_venta" name="id_venta">
            <label for="f_venta">Fecha Venta:</label>
            <input type="datetime" id="f_venta" name="f_venta">
            <label for="totalizado">Totalizado:</label>
            <input type="number" id="totalizado" name="totalizado">
            <label for="saldo">Saldo:</label>
            <input type="number" id="saldo" name="saldo">
            <label for="id_cliente">Id Cliente:</label>
            <input type="number" id="id_cliente" name="id_cliente">

            <label for="id_det_venta">Id Detalle Venta:</label>
            <input type="number" id="id_det_venta" name="id_det_venta">
            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio">
            <label for="cant">Cantidad:</label>
            <input type="number" id="cant" name="cant">
            <label for="monto">Monto Total:</label>
            <input type="number" id="monto" name="monto">
            <label for="s_pendiente">Saldo Pendiente:</label>
            <input type="number" id="s_pendiente" name="s_pendiente">
            <label for="id_producto">Id Producto:</label>
            <input type="text" id="id_producto" name="id_producto">

            <button type="submit">Guardar</button>
            <button type="button" onclick="closeForm()">Cancelar</button>
        </form>
    </div>

    <script src="formScriptAgregar.js"></script>

    <div id="floatingFormAct" class="floating-form">
        <h2>Actualizar Venta</h2>
        <form>
            <label for="id_venta">Id Venta:</label>
            <input type="text" id="id_venta" name="id_venta">
            <label for="f_venta">Fecha Venta:</label>
            <input type="datetime" id="f_venta" name="f_venta">
            <label for="totalizado">Totalizado:</label>
            <input type="number" id="totalizado" name="totalizado">
            <label for="saldo">Saldo:</label>
            <input type="number" id="saldo" name="saldo">
            <label for="id_cliente">Id Cliente:</label>
            <input type="number" id="id_cliente" name="id_cliente">

            <label for="id_det_venta">Id Detalle Venta:</label>
            <input type="number" id="id_det_venta" name="id_det_venta">
            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio">
            <label for="cant">Cantidad:</label>
            <input type="number" id="cant" name="cant">
            <label for="monto">Monto Total:</label>
            <input type="number" id="monto" name="monto">
            <label for="s_pendiente">Saldo Pendiente:</label>
            <input type="number" id="s_pendiente" name="s_pendiente">
            <label for="id_producto">Id Producto:</label>
            <input type="text" id="id_producto" name="id_producto">

            <button type="submit">Actualizar</button>
            <button type="button" onclick="closeFormAct()">Cancelar</button>
        </form>
    </div>
    <script src="formScriptAct.js"></script>
</body> 
</html>