<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" type="text/css" href="StyleMenu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<header class="header">
  <div class="menu-contenedor">
    
    <nav class="menu">
      <a href="#">Menu</a>
      <a href="#">Reportes</a>
      <a href="#">Cerrar sesion</a>
    </nav>
    <h1 id="usuario">Usuario: Rosita</h1>
  </div>
</header>
<body>
<br>
<div class="imagen">
  <img src="img/Portada.jpg">
</div>

<br><br><br><br><br><br><br><br><br>
<div class="menu-principal">
  <h1>Menu principal</h1>
</div>
<h1 class="title"> Servicios</h1>
<div class="container">
  <div class="card">
    <img src="img/Productos.jpg">
    <h4>Productos</h4>
    <button class="button button1"><a class="btna" href="formProducto.html">Ver</a></button>
  </div>

  <div class="card">
    <img src="img/Proveedores.jpg">
    <h4>Proveedores</h4>
    <button class="button button1"><a class="btna" href="formProveedores.html">Ver</a></button>
  </div>

  <div class="card">
    <img src="img/Inventario.jpg">
    <h4>Inventario</h4>
    <button class="button button1"><a class="btna" href="formInventario.html">Ver</a></button>
  </div>

  <div class="card">
    <img src="img/Compras.jpg">
    <h4>Compras</h4>
    <button class="button button1"><a class="btna" href="formCompras.html">Ver</a></button>
  </div>

  <div class="card">
    <img src="img/Ventas.jpg">
    <h4>Ventas</h4>
    <button class="button button1"><a class="btna" href="formVentas.html">Ver</a></button>
  </div>

  <div class="card">
    <img src="img/Reportes.jpg">
    <h4>Reportes</h4>
    <button class="button button1"><a class="btna">Ver</a></button>
  </div>
</div>
</body>
</html>